body {
    background-color: rgba(211, 211, 211, 0.667);
}
h1 {
    color: rgb(0, 0, 105);
    font-family: verdana;
    font-size: 250%;
    text-align: center;
}
p {
    display: inline-block;
    /* font-family: courier;
    font-size: 120%; */
  }

/* Side bar */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
/* Main */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
li {
    font-family: courier;
    font-size: 120%;
}
.main img {
    width: 500px;
    height: 500px;
}

/* Chess board */
table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

td {
    text-align: center;
    background-color: #0b196ad2;
    width: 70px;
    height: 70px;
}
.no_checker_here {
    background-color: #91c8ffa3;
}

.numbers {
    background-color: rgba(173, 214, 250, 0.64);
}
/* Checkers */
.black_checker {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.white_checker {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: rgb(253, 252, 252);
    border: 1px solid white;
    border-radius: 50px;
}

.king.black_checker {
    background-color: aqua;
}
.king.white_checker {
    background-color: aquamarine;
} 

/* Footer */
footer {
    display: block;
    text-align: center;
    font-size: 50%;
  }

